#header_section {
  border-bottom: 2px solid lightgrey;
}

#main_header {
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin: 10px 0px 5px 0px;
  padding: 0px;
}

#header_tagline {
  color: grey;
  margin: 0px;
  padding: 0px;
}

#enter_button {
  background-color: #d3d3d3;
  color: #444;
  border: 1px solid #d3d3d3;
  text-shadow: 0 -1px transparent;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

#home_div {
  text-align: center;
}

#second_div {
  text-align: center;
}

#home_text {
  text-align: center;
}

#list_of_reviews {
  float: left;
  width: 33%;
  background-color: blue;
}

#current_review {
  float: right;
  width: 67%;
  background-color: red;
}

#create_new_review {
  float: right;
  width: 67%;
  background-color: green;
}

#input_textboxes {
  width: 80%;
}

#review_name_input {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
}

#content_input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

#submit_button {
  display: block;
  align: left;
}
